<!DOCTYPE html>
<html>
<head>
  <title>Todo List in Sinatra</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
<nav class='nav'>
    <li><a href="/">HOME</a></li>
    <li><a href="/items">ITEMS</a></li>
    <li><a href="/items/new">NEW ITEMS</a></li>
</nav>
<h1>todo list</h1>
<%= yield %>
</body>
</html>